<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="it485projectConnectionString" connectionString="Data Source=itksqlexp8;Initial Catalog=it485project;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <!--Need to change this at the time of uploading the project to the server.-->
      <!--<identity impersonate="true" userName="adilstu\ITxxxxxxx" password="your Course Acct Password" />-->
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
