img.mainimage {
    height: auto;
    width: 100%;
}

#navbarHeaderHome {
    padding-left: 15px;
    padding-right: 15px;
    font-family: Raavi;
    font-size: 19px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:40px;
    border:thin;
}

#navbarHeader {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Raavi;
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
     border-radius:30px;
}


#navbarFooter {
    background-color: lightgray;
    font-weight: bold;
    position: absolute;
    font-family: Raavi;
    font-size: 15px;  
}

.signUpFormHighLight {
    background-color: snow;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 50px;
}

#homepagebody {
    background-image:url(../images/bgimage.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

#studentBody {
     background-image:url(../images/studentHome.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:20px;
}

#professorBody {
     background-image:url(../images/ProfessorImage.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:20px;

}

#viewerBody {
    background-image:url(../images/Viewer.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:20px;
}

#AdminBody {
    background-image:url(../images/AdminImage.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:20px;
}



